<header>
  <a href="{{ BEACON.organization.welcomeUrl }}"><img src="{{ BEACON.organization.logoUrl }}" alt="{{ BEACON.organization.name }}" /></a>
  
  <h1><a href="{% url 'query' %}">{{ BEACON.name|default:'Beacon' }}</a></h1>
  <h2>{{ BEACON.description|safe }}</h2>

  <nav>
    <a href="{% url 'query' %}" class="endpoint-button {% if request.path == '/' %} selected{% endif %}">Query</a>

    {% if request.session.user %}
      <span>Hi, {{ request.session.user.nickname }}</span>
      <a href="{% url 'logout' %}?next={{ request.path }}" class="login-button">Logout</a>
    {% else %} 
      <a href="{% url 'login' %}?next={{ request.path }}" class="login-button">Login</a>
    {% endif %}
  </nav>
</header>