{% load beacon %}

<form id="query"
      action="{{ request.get_full_path }}"
      method="post"
      accept-charset="UTF-8"
      autocomplete="off"
      enctype="multipart/form-data"
      data-cache-key="form"
      novalidate="">

      {% csrf_token %}
      
  <div class="form-container">

      {% if results.error or form.errors %}
        <section id="query-errors">
        {% if results.error %}
          <div class="error-{{ error.errorCode }}">
          {{ results.error.message }}
          </div>
        {% endif %}

        {% for field in form %}
          {% for error in field.errors %}
            <div class="error-wrapper">
              <i class="fas fa-exclamation-circle"></i>
              <div>
                {{ error|safe }}
              </div>
            </div>
            <!-- <div class="error-wrapper">

              <h3>{{ field.name }}</h3>
              <div>
                {{ error|safe }}
              </div>
            </div> -->
          {% endfor %}
        {% endfor %}

        </section>
      {% endif %}

      <fieldset id="query-search">
        {{ form.assemblyId }}
        <section>
          {{ form.query }}
          {{ form.query.label_tag }}
        </section>
        {{ form.includeDatasetResponses }}
        <button>
          <i class="fas fa-search"></i>
          <p>Search</p> 
        </button>
      </fieldset>

      <!-- <section>
          {{ form.includeDatasetResponses.label_tag }} {{ form.includeDatasetResponses }} 
      </section> -->


      <fieldset id="query-datasets">
        <div id="datasets-header">
            <p>Datasets</p>
            <p><span>All</span>  <span>None</span></p>
        </div>
        <section>
          {% for d in BEACON.datasets %}
            {% if d.info.authorized == 'true' %}
              <label>
                <input type="checkbox" name="datasetIds" value="{{ d.id }}" {% if d.id in selected_datasets %}checked{% endif %}/>
                {{ d.id }}{% if d.variantCount %} ({{ d.variantCount }} variant{{ d.variantCount|pluralize }}){% endif %}
              </label>
            {% else %}
              <label class="dataset-not-authorized">
                <input type="checkbox" disabled name="datasetIds" value="{{ d.id }}" />
                {{ d.id }}
              </label>
            {% endif %}
          {% endfor %}
        </section>
        </fieldset>

      <!-- <fieldset id="query-filters">
        <div id="filters-header">
          <p>Filters <i class="filter-add fas fa-plus-circle"></i></p>
        </div>

      </fieldset> -->

  </div>
</form>
